*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
    height: auto;
}

button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    color: inherit;
    font: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

p {
    text-wrap: pretty;
}

body {
    min-height: 100vh;
    line-height: 1.5;
    font-family: system-ui, sans-serif;
    -webkit-font-smoothing: antialiased;
    background-color: var(--blue-100);
    background-image: url('./images/pattern-background-desktop.svg');
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100% auto;
    display: grid;
    place-items: center;
    font-family: var(--ff-red-hat);
    padding: clamp(1.5rem, 5vw, 3rem);
}

:root {
    /* Colors */
    --blue-50: hsl(225, 100%, 98%);
    --blue-100: hsl(225, 100%, 94%);
    --blue-700: hsl(245, 75%, 52%);
    --blue-950: hsl(223, 47%, 23%);
    --gray-600: hsl(224, 23%, 55%);

    /* Typography */
    --fs-general: 1rem;
    --ff-red-hat: "Red Hat Display", sans-serif;
    --fw-500: 500;
    --fw-700: 700;
    --fw-900: 900;
}


.card-summary {
    background-color: #fff;
    border-radius: 1rem;

    .img-header {
        border-radius: 1rem 1rem 0 0;
    }

    .card-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: clamp(1.5rem, 5vw, 2.5rem);

        .hero-summary {
            text-align: center;
            margin-bottom: 1.5rem;

            .title-summary {
                font-size: 1.625rem;
                color: var(--blue-950);
                font-weight: var(--fw-900);
                margin-bottom: 1rem;
            }

            .description-summary {
                max-width: 21.875rem;
                color: var(--gray-600);
                font-weight: var(--fw-500);
            }
        }

        .plan-summary {
            background-color: var(--blue-50);
            display: flex;
            padding: clamp(1rem, 0.824rem + 0.75vw, 1.6rem);
            width: 100%;
            border-radius: 1rem;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 2rem;

            .info-plan {
                display: flex;
                align-items: center;
                gap: 1rem;

                .text-plan {
                    .title-plan {
                        color: var(--blue-950);
                        font-weight: var(--fw-900);
                    }

                    .price-plan {
                        color: var(--gray-600);
                        font-weight: var(--fw-500);
                    }
                }
            }

            .btn-change-plan {
                color: var(--blue-700);
                font-weight: var(--fw-700);
                font-size: .875rem;

                &:hover {
                    text-decoration: none;
                }
            }
        }

        .footer-summary {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 1.5rem;
            width: 100%;

            .btn-payment {
                width: 100%;
                background-color: var(--blue-700);
                color: var(--blue-50);
                padding: clamp(0.875rem, 0.83rem + 0.23vw, .875rem) 0;
                font-weight: var(--fw-700);
                border-radius: 12px;
                box-shadow: 0 30px 20px hsl(245, 75%, 52%, 0.1);
            }

            .btn-cancel {
                color: var(--gray-600);
                font-weight: var(--fw-700);
                font-size: clamp(.875rem, 4vw, 1rem);
            }
        }
    }
}