*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

ul,
ol,
li {
    list-style: none;
}


:root {
    /* Colors */
    --clr-purple: hsl(257, 40%, 49%);
    --clr-magenta: hsl(300, 69%, 71%);
    --clr-white: hsl(0, 0%, 100%);

    /* Typography */
    --ff-heading: 'Poppins', sans-serif;
    --ff-body: 'Open Sans', sans-serif;
    --fw-regular: 400;
    --fw-bold: 600;
    --fs-heading: clamp(1.5rem, 1.148rem + 1.5vw, 2.5rem);
    --fs-body: clamp(1rem, 0.956rem + 0.19vw, 1.125rem);

    /* Spacing System */
    --space-sm: 1rem;
    --space-md: 1.5rem;
    --space-lg: 2rem;
    --space-xl: clamp(3rem, 2.472rem + 2.25vw, 4.5rem);
    --pad-container: clamp(2rem, 1.296rem + 3vw, 4rem);

    /* Other components */
    --radius-btn: 3.125rem;
    --shadow-btn: 0 .3125rem .625rem rgba(0, 0, 0, 0.4);
    --transition: 0.3s ease;
}

body {
    font-size: var(--fs-body);
    font-weight: var(--fw-regular);
    color: var(--clr-white);
    background-color: var(--clr-purple);

    background-image: url('./images/bg-mobile.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;

    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.container {
    padding: var(--pad-container);
    margin: 0 auto;
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
}

.header__logo {
    width: clamp(9.375rem, 8.275rem + 4.69vw, 12.5rem);
}

/* Main */
.hero {
    margin-block: var(--space-xl);
}

.hero__image-wrapper {
    margin-block-end: var(--space-xl);
}

.hero__content {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
    gap: var(--space-md);
}

.hero__title {
    font-family: var(--ff-heading);
    font-size: var(--fs-heading);
    font-weight: var(--fw-bold);
    line-height: 1.6;
}

.hero__desc,
.btn--primary {
    font-family: var(--ff-body);
}

.hero__desc {
    max-width: 18.75rem;
    line-height: 1.6;
}

.btn--primary {
    background-color: var(--clr-white);
    color: var(--clr-purple);
    font-size: clamp(0.875rem, 0.831rem + 0.19vw, 1rem);
    padding: clamp(0.875rem, 0.831rem + 0.19vw, 1rem) 4.5rem;
    border-radius: var(--radius-btn);
    box-shadow: var(--shadow-btn);
    transition: var(--transition);
}

.social {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--space-sm);
    width: 100%;
}

.social__item i {
    color: var(--clr-white);
    border: .0625rem solid var(--clr-white);
    border-radius: 100%;
    font-size: 1rem;
    padding: .625rem;
    transition: var(--transition);
}

@media (min-width: 64rem) {
    body {
        background-image: url('./images/bg-desktop.svg');
        background-size: cover;
    }

    .hero {
        display: grid;
        grid-template-columns: 1.2fr 1fr;
        align-items: center;
        gap: 3rem;
        margin-top: var(--space-xl);
    }

    .hero__content {
        align-items: start;
        text-align: start;
        margin-block-end: 7rem;
    }

    .hero__title {
        max-width: 32.5rem;
    }

    .hero__desc {
        max-width: 36rem;
        letter-spacing: .0625rem;
    }

    .btn--primary:hover {
        background-color: var(--clr-magenta);
        color: var(--clr-white);

    }

    .social {
        justify-content: end;
    }

    .social__item i:hover {
        background-color: var(--clr-magenta);
    }
}

@media (prefers-reduced-motion: reduce) {

    *,
    *::before,
    *::after {
        transition: none;
    }
}